body {
    font-family: fantasy
}

.header-text {
    color: rgb(19, 6, 6);
}

#morel {
    padding-left: 400px;
    width: 600px;
}

.smaller {
    background-color: rgba(218, 164, 55, 0.682);

}

.header-text.main {
    text-align: center;
    background-color: rgba(220, 137, 48, 0.867);
    color: black;
}

#goulash {
    padding-left: 510px;
    width: 400px;
}

#pierogi {
    padding-left: 500px;
    width: 400px;
}

button {
    background-color: rgba(185, 63, 7, 0.855);
    color: black;
    font-weight: bold;
}