body {
    font-family: fantasy;
}

.main-title {
    text-align: center;
    background-color: rgb(183, 107, 15);
}

#home {
    padding-left: 500px;
}

.home-directory {
    text-align: left;
    
}





